<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Dashboard Template for Bootstrap</title>
  <script type="text/javascript">
  var angular_query_builder_version = "1.0";
  </script>
  <script type="text/javascript" src="/sofast/html/js/dashboard.js"></script>
</head>

<body ng-app="soFast" class="ng-scope">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search..."> </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="show_sidebar" ng-click="showSidebar=!showSidebar">
        <span class="glyphicon glyphicon-triangle-right"></span>
      </div>
      <div class="col-sm-3 col-md-2 sidebar" ng-hide="showSidebar">
        <div class="hide_sidebar" ng-click="showSidebar=!showSidebar">
          <span class="glyphicon glyphicon-triangle-left"></span>
        </div>
        <ul class="nav nav-sidebar">
          <li class="active">
            <a href="#">Overview
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="#">Reports</a>
          </li>
          <li>
            <a href="#">Analytics</a>
          </li>
          <li>
            <a href="#">Export</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li>
            <a href="">Nav item</a>
          </li>
          <li>
            <a href="">Nav item again</a>
          </li>
          <li>
            <a href="">One more nav</a>
          </li>
          <li>
            <a href="">Another nav item</a>
          </li>
          <li>
            <a href="">More navigation</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li>
            <a href="">Nav item again</a>
          </li>
          <li>
            <a href="">One more nav</a>
          </li>
          <li>
            <a href="">Another nav item</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-class="{true: 'show_page', false: ''}[showSidebar]">
        <h1 class="page-header">Dashboard <span class="glyphicon glyphicon-cog"></span></h1>
        <h2 class="sub-header">Section title<a href="#" class="pull-right">configuration</a></h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>Integer</td>
                <td>nec</td>
                <td>odio</td>
                <td>Praesent</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>libero</td>
                <td>Sed</td>
                <td>cursus</td>
                <td>ante</td>
              </tr>
              <tr>
                <td>1,004</td>
                <td>dapibus</td>
                <td>diam</td>
                <td>Sed</td>
                <td>nisi</td>
              </tr>
              <tr>
                <td>1,005</td>
                <td>Nulla</td>
                <td>quis</td>
                <td>sem</td>
                <td>at</td>
              </tr>
              <tr>
                <td>1,006</td>
                <td>nibh</td>
                <td>elementum</td>
                <td>imperdiet</td>
                <td>Duis</td>
              </tr>
              <tr>
                <td>1,007</td>
                <td>sagittis</td>
                <td>ipsum</td>
                <td>Praesent</td>
                <td>mauris</td>
              </tr>
              <tr>
                <td>1,008</td>
                <td>Fusce</td>
                <td>nec</td>
                <td>tellus</td>
                <td>sed</td>
              </tr>
              <tr>
                <td>1,009</td>
                <td>augue</td>
                <td>semper</td>
                <td>porta</td>
                <td>Mauris</td>
              </tr>
              <tr>
                <td>1,010</td>
                <td>massa</td>
                <td>Vestibulum</td>
                <td>lacinia</td>
                <td>arcu</td>
              </tr>
              <tr>
                <td>1,011</td>
                <td>eget</td>
                <td>nulla</td>
                <td>Class</td>
                <td>aptent</td>
              </tr>
              <tr>
                <td>1,012</td>
                <td>taciti</td>
                <td>sociosqu</td>
                <td>ad</td>
                <td>litora</td>
              </tr>
              <tr>
                <td>1,013</td>
                <td>torquent</td>
                <td>per</td>
                <td>conubia</td>
                <td>nostra</td>
              </tr>
              <tr>
                <td>1,014</td>
                <td>per</td>
                <td>inceptos</td>
                <td>himenaeos</td>
                <td>Curabitur</td>
              </tr>
              <tr>
                <td>1,015</td>
                <td>sodales</td>
                <td>ligula</td>
                <td>in</td>
                <td>libero</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix">
          <div class="col-xs-6">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 300 entries</div>
          </div>
          <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination pagination-sm">
                <li class="disabled">
                  <a href="#" class="previous" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a>
                </li>
                <li></li>
                <li class="active">
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                </li>
                <li>
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a>
                </li>
                <li>
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a>
                </li>
                <li>
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a>
                </li>
                <li>
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0">5</a>
                </li>
                <li class="disabled">
                  <a href="#" onclick="event.preventDefault()">…</a>
                </li>
                <li>
                  <a href="#" class="" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0">30</a>
                </li>
                <li>
                  <a href="#" class="next" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" id="DataTables_Table_0_next">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-controller="MainController">
          <div class="" style="margin-top: 30px">
            <div class="hero-unit">
              <h2>
                    Angular Query Builder
                    <small>v{{appVersion}} / based on AngularJS and Bootstrap</small>
                </h2> </div>
            <div ng-controller="DatepickerPopupDemoCtrl" required class="datapicker_room">
              <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"> <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="aqb-search-form">
              <form name="searchForm" ng-submit="search(searchForm, $event)">
                <div class="aqb-search-form-body">
                  <div class="aqb-animate-combined" ng-repeat="group in searchContainer.groups | orderBy:'index'">
                    <div search-group search-container="searchContainer" groups="searchContainer.groups" group-index="$index" source-types="sourceTypes" logical-operators="logicalOperators"></div>
                  </div>
                </div>
                <div class="aqb-search-form-footer">
                  <button type="submit" class="btn" ng-disabled="searchForm.$invalid">Search</button>
                </div>
              </form>
              <div ng-show="!!output"> <pre ng-bind-html="output"></pre> </div>
            </div>
            <div> <pre>{{jsonOutput}}</pre> </div>
          </div>
        </div>
        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title">I'm a modal!</h3> </div>
            <div class="modal-body" id="modal-body">
              <!--  <ul>
              <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
              </li>
            </ul> Selected: <b>{{ $ctrl.selected.item }}</b> -->
              <div class="select_multiple clearfix">
                <div class="col-xs-5">
                  <h4>himenaeos</h4>
                  <select size="15">
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                  </select>
                </div>
                <div class="col-xs-1">
                  <div class="arrow_room">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </div>
                  <div class="arrow_room">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                  </div>
                </div>
                <div class="col-xs-5">
                  <h4>himenaeos</h4>
                  <select size="15">
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="volvo">Volvo </option>
                    <option value="volvo">Volvo </option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
                <div class="col-xs-1">
                  <div class="sort_room">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </div>
                  <div class="sort_room">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="button_room col-xs-12">
                  <button type="button " class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat"></span> Reset Column </button>
                  <!--                 <div class="text-center">
                  <button type="button " class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok "></span> Submit </button>
                  <button type="button " class="btn btn-default">
                    <span class="glyphicon glyphicon-remove "></span> Cancel </button>
                </div> --></div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">
                <span class="glyphicon glyphicon-ok "></span> OK</button>
              <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">
                <span class="glyphicon glyphicon-remove "></span> Cancel</button>
            </div>
          </script>
          <script type="text/ng-template" id="stackedModal.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3> </div>
            <div class="modal-body" id="modal-body-{{name}}"> Having multiple modals open at once is probably bad UX but it's technically possible. </div>
          </script>
          <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm', '.modal-parent')"> Modal appended to a custom parent </button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">Toggle Animation ({{ $ctrl.animationsEnabled }})</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">Open a component modal!</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.openMultipleModals()"> Open multiple modals at once </button>
          <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
          <div class="modal-parent"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page_footer">© Copyright 2016, California Science And Technology University. All rights reserved</div>
  <!-- for Loading -->
  <div ng-controller="ShowLoadingCtrl as ctrl " style="display: block; position: absolute; top: 5px; right: 5px; z-index: 9999;">
    <input type="button" ng-click="ctrl.showLoading() " value="loading "> {{ctrl.loadingImg}}
    <div id="mask-loading " class="mask_loading " ng-if="ctrl.loadingImg " style=" ">
      <div> <img src="/sofast/html/img/loading_transparent.gif ">
        <div>Page is loading.</div>
      </div>
    </div>
  </div>
  <!-- end for Loading -->
</body>

</html>