<div class="sys_room">
	<div class="wrapper">
		<span>Welcome, admin .</span>
		<a href="../login.html" class="pull-right"><span class="glyphicon glyphicon-off "></span> Logout</a></div>
</div>
<div class="logo_room">
	<div class="wrapper">
		<div class="logo_title">Sofast</div>
		<div class="logo_text">Administration Management System</div>
		<div class="nav">
			<a href="/Sofast/html/pages/admin/student_list.html"><span class="glyphicon glyphicon-th-list"></span> Student List</a>
		</div>
	</div>
</div>