.success_room {
	padding: 70px;
	h1 {
		color: @blue_text;
		margin-bottom: 40px;
	}
}

.listUpload {
	.form-group {
		border-bottom: 1px dashed #ccc;
		padding-bottom: 20px;
		padding-top: 10px;
	}
}